<%= form_for(@garrison) do |f| %>
  <% if @garrison.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garrison.errors.count, "error") %> prohibited this garrison from being saved:</h2>

      <ul>
      <% @garrison.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :qte %><br>
    <%= f.number_field :qte %>
  </div>
  
  <div class="field">
    <%= f.label :soldier_type_id %><br>
    <%= f.collection_select(:soldier_type_id, SoldierType.all, :id, :name) %>
  </div>
  
  <% if params.has_key? 'castle_id' %>
    <%= f.hidden_field :garrisonable_type, :value => 'Castle' %>
    <%= f.hidden_field :garrisonable_id, :value => params['castle_id'] %>
  <% else %>
    <div class="field">
      <%= f.label :garrisonable_type %><br>
      <%= f.text_field :garrisonable_type %>
    </div>
    <div class="field">
      <%= f.label :garrisonable_id %><br>
      <%= f.text_field :garrisonable_id %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
