<h1>Listing garrisons</h1>

<table>
  <thead>
    <tr>
      <th>Qte</th>
      <th>Kingdom</th>
      <th>Soldier type</th>
      <th>Garrisonable</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @garrisons.each do |garrison| %>
      <tr>
        <td><%= garrison.qte %></td>
        <td><%= garrison.kingdom %></td>
        <td><%= garrison.soldier_type %></td>
        <td><%= garrison.garrisonable %></td>
        <td><%= link_to 'Show', garrison %></td>
        <td><%= link_to 'Edit', edit_garrison_path(garrison) %></td>
        <td><%= link_to 'Destroy', garrison, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garrison', new_garrison_path %>
