<h1>Garrisons for <%= @garrisonable.respond_to?(:name) ? @garrisonable.name : "#{@garrisonable.class.name.humanize} id: #{@garrisonable.id}"%></h1>

<table>
  <thead>
    <tr>
      <th>Qte</th>
      <th>Soldier type</th>
      <th>Kingdom</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @garrisons.each do |garrison| %>
      <tr>
        <td><%= garrison.qte %></td>
        <td><%= garrison.soldier_type.name %></td>
        <td><%= garrison.kingdom.name %></td>
        <td><%= link_to 'Show', garrison %></td>
        <td><%= link_to 'Destroy', garrison, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @garrisonable.class.model_name == Castle.model_name  %>
<br>
<%= link_to 'New Garrison', new_castle_garrison_path(@garrisonable.id) %>
<% end %>
<br>
<%= link_to 'back', @garrisonable %></td>
