<p id="notice"><%= notice %></p>

<p>
  <strong>Qte:</strong>
  <%= @garrison.qte %>
</p>

<p>
  <strong>Kingdom:</strong>
  <%= @garrison.kingdom %>
</p>

<p>
  <strong>Soldier type:</strong>
  <%= @garrison.soldier_type %>
</p>

<p>
  <strong>Garrisonable:</strong>
  <%= @garrison.garrisonable %>
</p>

<%= link_to 'Back', garrisons_path_for(@garrison) %>
