<% 
  mission_lengths_prop = :mission_lengths if mission_lengths_prop.nil?
  add_label = "Add an mission length" if add_label.nil?
%>
<div id="mission_lengths">
  <table>
    <thead>
      <tr>
        <th>Label</th>
        <th>Seconds</th>
        <th>Reward</th>
      </tr>
    </thead>
    <%= form.fields_for mission_lengths_prop, :wrapper => false do |mission_length_form| %>
      <tr class="fields">
        <td><%= mission_length_form.text_field :label %></td>
        <td><%= mission_length_form.number_field :seconds %></td>
        <td><%= mission_length_form.text_field :reward %></td>
        <td><%= mission_length_form.link_to_remove "Remove" %></td>
      </tr>
    <% end %>
  </table>
  <p><%= form.link_to_add add_label, mission_lengths_prop, :data => { :target => "#mission_lengths table" }  %></p>
</div>