<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ressource.name %>
</p>

<p>
  <strong>Global:</strong>
  <%= @ressource.global %>
</p>

<%= link_to 'Edit', edit_ressource_path(@ressource) %> |
<%= link_to 'Back', ressources_path %>
