<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mission_type.name %>
</p>

<p>
  <strong>Class name:</strong>
  <%= @mission_type.class_name %>
</p>

<%= link_to 'Edit', edit_admin_mission_type_path(@mission_type) %> |
<%= link_to 'Back', admin_mission_types_path %>
