<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @ai_action.type %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @ai_action.weight %>
</p>

<%= link_to 'Edit', edit_ai_action_path(@ai_action) %> |
<%= link_to 'Back', ai_actions_path %>
