<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :qte %><br>
    <%= f.number_field :qte %>
  </div>
  <div class="field">
    <%= f.label :ressource_id %><br>
    <%= f.text_field :ressource_id %>
  </div>
  <div class="field">
    <%= f.label :stockable_id %><br>
    <%= f.text_field :stockable_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
