<%= nested_form_for(@soldier_type) do |f| %>
  <% if @soldier_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soldier_type.errors.count, "error") %> prohibited this soldier_type from being saved:</h2>

      <ul>
      <% @soldier_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :machine_name %><br>
    <%= f.text_field :machine_name %>
  </div>
  <div class="field">
    <%= f.label :speed %><br>
    <%= f.number_field :speed %>
  </div>
  <div class="field">
    <%= f.label :attack %><br>
    <%= f.number_field :attack %>
  </div>
  <div class="field">
    <%= f.label :defence %><br>
    <%= f.number_field :defence %>
  </div>
  <div class="field">
    <%= f.label :interception %><br>
    <%= f.number_field :interception %>
  </div>
  <div class="field">
    <%= f.label :carry %><br>
    <%= f.number_field :carry %>
  </div>
  <div class="field">
    <%= f.label :recrute_time %><br>
    <%= f.number_field :recrute_time %>
  </div>
  <div class="field">
    <%= f.label :military %><br>
    <%= f.check_box :military %>
  </div>
  
  <%= render 'stocks/nested_form', :form => f, :stocks_prop => :costs, :add_label => "Add cost" %>
  <%= render 'modificators/nested_form', :form => f %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
