<%= nested_form_for(@building_type) do |f| %>
  <% if @building_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building_type.errors.count, "error") %> prohibited this building_type from being saved:</h2>

      <ul>
      <% @building_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :build_time %><br>
    <%= f.number_field :build_time %>
  </div>
  <div class="field">
    <%= f.label :size_x %><br>
    <%= f.number_field :size_x %>
  </div>
  <div class="field">
    <%= f.label :size_y %><br>
    <%= f.number_field :size_y %>
  </div>
  <div class="field">
    <%= f.label :predecessor_id %><br>
    <%= f.collection_select(:predecessor_id, BuildingType.all, :id, :name, :include_blank => "None") %>
  </div>
  
  <%= render 'stocks/nested_form', :form => f, :stocks_prop => :costs, :add_label => "Add cost" %>
  <%= render 'modificators/nested_form', :form => f %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
