<h1>Editing building</h1>

<%= form_for(@building) do |f| %>
  <% if @building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% @building.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :building_type_id %><br>
    <%= f.collection_select(:building_type_id, @building.upgrades, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit("upgrade") %>
  </div>
<% end %>

<%= link_to 'Show', @building %> |
<%= link_to 'Back', buildings_path %>
