<h1>Listing movement_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movement_types.each do |movement_type| %>
      <tr>
        <td><%= movement_type.name %></td>
        <td><%= link_to 'Show', movement_type %></td>
        <td><%= link_to 'Edit', edit_movement_type_path(movement_type) %></td>
        <td><%= link_to 'Destroy', movement_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movement type', new_movement_type_path %>
