<h1>Listing soldier_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
      <th>Speed</th>
      <th>Attack</th>
      <th>Defence</th>
      <th>Interception</th>
      <th>Carry</th>
      <th>Recrute time</th>
      <th>Military</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @soldier_types.each do |soldier_type| %>
      <tr>
        <td><%= soldier_type.name %></td>
        <td><%= soldier_type.alias %></td>
        <td><%= soldier_type.speed %></td>
        <td><%= soldier_type.attack %></td>
        <td><%= soldier_type.defence %></td>
        <td><%= soldier_type.interception %></td>
        <td><%= soldier_type.carry %></td>
        <td><%= soldier_type.recrute_time %></td>
        <td><%= soldier_type.military %></td>
        <td><%= link_to 'Show', [:admin, soldier_type] %></td>
        <td><%= link_to 'Edit', edit_admin_soldier_type_path(soldier_type) %></td>
        <td><%= link_to 'Destroy', [:admin, soldier_type], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soldier type', new_admin_soldier_type_path %>
