<%= nested_form_for(@mission, url: missions_path) do |f| %>

  <% if @mission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
      <% @mission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :castle_id %><br>
    <%= f.collection_select(:castle_id, @myCastles, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.collection_select(:type, MissionType.all, :class_name, :name) %>
  </div>
  
  <% if params.has_key? 'castle_id' %>
    <%= f.hidden_field :target_type, :value => 'Castle' %>
    <%= f.hidden_field :target_id, :value => params['castle_id'] %>
  <% else %>
    <div class="field">
      <%= f.label :target_type %><br>
      <%= f.text_field :target_type %>
    </div>
    <div class="field">
      <%= f.label :target_id %><br>
      <%= f.text_field :target_id, :value => params['castle_id'] %>
    </div>
  <% end %>

  <%= render 'stocks/nested_form', :form => f %>
  <%= render 'garrisons/nested_form', :form => f %>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
