
<%= form_for(@mission) do |f| %>
  <% if @mission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
      <% @mission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :castle_id %><br>
    <%= f.collection_select(:castle_id, @myCastles, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :mission_type_id %><br>
    <%= f.collection_select(:mission_type_id, MissionType.all, :id, :name) %>
  </div>
  
  <% if params.has_key? 'castle_id' %>
    <%= f.hidden_field :target_type, :value => 'Castle' %>
    <%= f.hidden_field :target_id, :value => params['castle_id'] %>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
