<h1>Listing missions</h1>

<table>
  <thead>
    <tr>
      <th>Castle</th>
      <th>Mission type</th>
      <th>Mission status</th>
      <th>Target</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.castle.name %></td>
        <td><%= mission.mission_type.name %></td>
        <td><%= mission.mission_status!= nil ? mission.mission_status.name : '' %></td>
        <td><%= mission.target_type + ':' + mission.target_id.to_s %></td>
        <td><%= link_to 'Show', mission %></td>
        <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
        <td><%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mission', new_mission_path %>
