<h1>Listing missions</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Castle</th>
      <th>Target</th>
      <th>Next event</th>
      <th>Mission status code</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.type %></td>
        <td><%= mission.castle %></td>
        <td><%= mission.target %></td>
        <td><%= mission.next_event %></td>
        <td><%= mission.mission_status_code %></td>
        <td><%= link_to 'Show', mission %></td>
        <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
        <td><%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mission', new_mission_path %>
