<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @mission.type %>
</p>

<p>
  <strong>Mission status:</strong>
  <%= @mission.mission_status %>
</p>

<p>
  <strong>Castle:</strong>
  <%= @mission.castle %>
</p>

<p>
  <strong>Target:</strong>
  <%= @mission.target %>
</p>

<p>
  <strong>Next event:</strong>
  <%= @mission.next_event %>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
