<% 
  classes = ['castle']
  if user_signed_in? && castle.owned_by?(current_user)
    classes.push('mine')
  end
%>
<div class="<%= classes.join(" ") %>" style="top:<%= pos.y %>px;left:<%= pos.x %>px;">
	<div class="clickPixel"></div>
  <span class="name"><%= castle.name %></span>
  <ul class="actions">
    <%= link_to 'Show', castle %>
    <% if user_signed_in? %>
      <%= link_to 'Mission', new_castle_mission_path(castle.id) %>
    <% end %>
  </ul>
</div>