<% 
  classes = ['castle']
  if user_signed_in? && castle.kingdom.user_id == current_user.id
    classes.push('mine')
  end
%>
<div class="<%= classes.join(" ") %>" style="top:<%= pos.y %>px;left:<%= pos.x %>px;">
	<span class="name"><%= castle.name %></span>
  <ul class="actions">
    <%= link_to 'Show', castle %>
  </ul>
</div>