<h1>My castles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Pop</th>
      <th></th>
      <th></th>
      <th></th>
      <% if user_signed_in? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @castles.each do |castle| %>
      <tr>
        <td><%= castle.name %></td>
        <td><%= castle.x %>; <%= castle.y %></td>
        <td><%= castle.pop %></td>
        <td><%= link_to 'Show', castle %></td>
        <td><%= link_to 'Edit', edit_castle_path(castle) %></td>
        <td><%= link_to 'Destroy', castle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Mission', new_castle_mission_path(castle.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Castle', new_castle_path %>
