<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @castle.name %>
</p>

<p>
  <strong>Kingdom:</strong>
  <%= @castle.kingdom %>
</p>

<div class="stocks">
  <%= render @castle.stocks.renderable %>
</div>

<div class="incomes">
  <%= render partial: 'stocks/income', collection: @castle.incomes.renderable %>
</div>

<div class="garrisons">
  <%= render @castle.garrisons.renderable %>
</div>
<ul class="actions">
  <li><%= link_to 'Edit', edit_castle_path(@castle) %></li>
  <li><%= link_to 'Back', castles_path %></li>
  <% if user_signed_in? %>
    <li><%= link_to 'Mission', new_castle_mission_path(@castle.id) %></li>
  <% end %>
  <% if @castle.owned_by?(current_user) %>
    <li><%= link_to 'Recrute', new_castle_garrison_path(@castle.id) %></li>
  <% end %>
</ul>

<div class="graphics">
  <%= render 'elevations', :size => 200 %>
  <div class="buildings">
    <% @castle.buildings.each do |building| %>
      <%= render building, :size => 200 %>
    <% end %>
  </div>
</div>