<%= form_for(@ressource) do |f| %>
  <% if @ressource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ressource.errors.count, "error") %> prohibited this ressource from being saved:</h2>

      <ul>
      <% @ressource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :global %><br>
    <%= f.check_box :global %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
