<h1>Listing ressources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Global</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ressources.each do |ressource| %>
      <tr>
        <td><%= ressource.name %></td>
        <td><%= ressource.global %></td>
        <td><%= link_to 'Show', [:admin, ressource] %></td>
        <td><%= link_to 'Edit', edit_admin_ressource_path(ressource) %></td>
        <td><%= link_to 'Destroy', [:admin, ressource], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ressource', new_admin_ressource_path %>
