<!DOCTYPE html>
<html>
<head>
  <title>GoodAndEvilKings</title>
  <script type="text/javascript" charset="utf-8">var ROOT_PATH = '<%= root_path %>';</script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= model_action_class %>">
  <header>
    <% if user_signed_in?  %>
      <div class="logged">
        <p><%= current_user.current_kingdom.name %></p>
      </div>
    <% end %>
    <nav class="secondaryNav">
      <ul>
        <% if user_signed_in?  %>
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete  %></li>
        <% end %>
        <%= nav_link "Castles", castles_path %>
        <%= nav_link "Diplomacies", diplomacies_path %>
        <%= nav_link "Missions", missions_path %>
      </ul>
    </nav>
    <nav class="mainNav">
      <ul>
        <%= nav_link "World Map", tiles_path %>
        <%= nav_link "My Castle", current_castle_path %>
        <%= nav_link "Messages", messages_path %>
        <%= nav_link "Kingdoms", kingdoms_path %>
      </ul>
    </nav>
    <% if notice || alert %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% end %>
  </header>
  
<div id="content">
<%= yield %>
</div>

<footer>
  <% if admin_access?  %>
  <nav class="admin">
    <ul>
      <%= nav_link "Building types", admin_building_types_path %>
      <%= nav_link "Mission types", admin_mission_types_path %>
      <%= nav_link "Mission Statuses", admin_mission_statuses_path %>
      <%= nav_link "Ressources", admin_ressources_path %>
      <%= nav_link "Soldier types", admin_soldier_types_path %>
    </ul>
  </nav>
  <% end %>
</footer>

</body>
</html>