<!DOCTYPE html>
<html>
<head>
  <title>GoodAndEvilKings</title>
  <script type="text/javascript" charset="utf-8">var ROOT_PATH = '<%= root_path %>';</script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in?  %>
  <div class="logged">
    <p>Welcome</p>
    <%= link_to "Logout", destroy_user_session_path, :method => :delete  %>
  </div>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<nav>
	<ul>
		<li><%= link_to "Map", tiles_path %></li>
		<li><%= link_to "Castles", castles_path %></li>
		<li><%= link_to "Diplomacies", diplomacies_path %></li>
		<li><%= link_to "Missions", missions_path %></li>
		<li><%= link_to "Kingdoms", kingdoms_path %></li>
	</ul>
</nav>

<% if admin_access?  %>
<nav class="admin">
	<ul>
		<li><%= link_to "Building types", admin_building_types_path %></li>
		<li><%= link_to "Mission types", admin_mission_types_path %></li>
		<li><%= link_to "Mission Statuses", admin_mission_statuses_path %></li>
		<li><%= link_to "Ressources", admin_ressources_path %></li>
		<li><%= link_to "Soldier types", admin_soldier_types_path %></li>
	</ul>
</nav>
<% end %>

</body>
</html>