<!DOCTYPE html>
<html>
<head>
  <title>GoodAndEvilKings</title>
  <script type="text/javascript" charset="utf-8">var ROOT_PATH = '<%= root_path %>';</script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= model_action_class %>">
  <header>
    <% if user_signed_in?  %>
      <div class="logged">
        <p><%= current_user.current_kingdom.nil? ? 'Welcome' : current_user.current_kingdom.name %></p>
        <%= link_to "Logout", destroy_user_session_path, :method => :delete  %>
      </div>
    <% end %>
   
    <% if notice || alert %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% end %>
  </header>
  
<div id="content">
<%= yield %>
</div>

<footer>

</footer>

</body>
</html>